# Ignore locally customized builds of k6
k6

# Ignore the project source for operator and other dependencies
dependencies/*
!dependencies/README.md

# Don't commit your private env settings
.idea/
.env
